EngineeringManage/src/conf/xml-resources/web-service-references/CoreAircraftFamWS/wsdl/localhost_8054/CoreAircraftFamWS/CoreAircraftFamWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.core.aeroman.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.core.aeroman.com/" name="CoreAircraftFamWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.core.aeroman.com/" schemaLocation="http://localhost:8054/CoreAircraftFamWS/CoreAircraftFamWS?xsd=1"/>
</xsd:schema>
</types>
<message name="coreFind">
<part name="parameters" element="tns:coreFind"/>
</message>
<message name="coreFindResponse">
<part name="parameters" element="tns:coreFindResponse"/>
</message>
<message name="coreCreate">
<part name="parameters" element="tns:coreCreate"/>
</message>
<message name="coreCreateResponse">
<part name="parameters" element="tns:coreCreateResponse"/>
</message>
<message name="coreEdit">
<part name="parameters" element="tns:coreEdit"/>
</message>
<message name="coreEditResponse">
<part name="parameters" element="tns:coreEditResponse"/>
</message>
<message name="coreAll">
<part name="parameters" element="tns:coreAll"/>
</message>
<message name="coreAllResponse">
<part name="parameters" element="tns:coreAllResponse"/>
</message>
<message name="coreDelete">
<part name="parameters" element="tns:coreDelete"/>
</message>
<message name="coreDeleteResponse">
<part name="parameters" element="tns:coreDeleteResponse"/>
</message>
<portType name="CoreAircraftFamWS">
<operation name="coreFind">
<input wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreFindRequest" message="tns:coreFind"/>
<output wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreFindResponse" message="tns:coreFindResponse"/>
</operation>
<operation name="coreCreate">
<input wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreCreateRequest" message="tns:coreCreate"/>
<output wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreCreateResponse" message="tns:coreCreateResponse"/>
</operation>
<operation name="coreEdit">
<input wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreEditRequest" message="tns:coreEdit"/>
<output wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreEditResponse" message="tns:coreEditResponse"/>
</operation>
<operation name="coreAll">
<input wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreAllRequest" message="tns:coreAll"/>
<output wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreAllResponse" message="tns:coreAllResponse"/>
</operation>
<operation name="coreDelete">
<input wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreDeleteRequest" message="tns:coreDelete"/>
<output wsam:Action="http://webservice.core.aeroman.com/CoreAircraftFamWS/coreDeleteResponse" message="tns:coreDeleteResponse"/>
</operation>
</portType>
<binding name="CoreAircraftFamWSPortBinding" type="tns:CoreAircraftFamWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="coreFind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="coreCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="coreEdit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="coreAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="coreDelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CoreAircraftFamWS">
<port name="CoreAircraftFamWSPort" binding="tns:CoreAircraftFamWSPortBinding">
<soap:address location="http://localhost:8054/CoreAircraftFamWS/CoreAircraftFamWS"/>
</port>
</service>
</definitions>