EngineeringManage/src/conf/xml-resources/web-service-references/CoreAircraftFamWS_1/wsdl/localhost_8054/CoreAircraftFamWS/CoreAircraftFamWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://webservice.core.aeroman.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.core.aeroman.com/">
    <xsd:complexType name="coreAll"/>
    <xsd:complexType name="coreAllResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:coreAircraftFamPJ" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreCreate">
        <xsd:sequence>
            <xsd:element name="coreFamPJ" type="ns0:coreAircraftFamPJ" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreCreateResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:coreAircraftFam" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreDelete">
        <xsd:sequence>
            <xsd:element name="coreFamPJ" type="ns0:coreAircraftFamPJ" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreDeleteResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:coreAircraftFam" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreEdit">
        <xsd:sequence>
            <xsd:element name="coreFamPJ" type="ns0:coreAircraftFamPJ" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreEditResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:coreAircraftFam" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreFind">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreFindResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:coreAircraftFamPJ" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreAircraftFamPJ">
        <xsd:sequence>
            <xsd:element name="arcfamCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamCreatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamCreationDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="arcfamDesc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="arcfamTramaFlag" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamTramaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamUpdateDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="arcfamUpdatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="selectFiltro" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="coreAircraftFam">
        <xsd:sequence>
            <xsd:element name="arcfamCode" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamCreatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamCreationDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="arcfamDesc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="arcfamTramaFlag" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamTramaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="arcfamUpdateDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="arcfamUpdatedBy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="selectFiltro" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="coreAll" type="ns0:coreAll"/>
    <xsd:element name="coreAllResponse" type="ns0:coreAllResponse"/>
    <xsd:element name="coreCreate" type="ns0:coreCreate"/>
    <xsd:element name="coreCreateResponse" type="ns0:coreCreateResponse"/>
    <xsd:element name="coreDelete" type="ns0:coreDelete"/>
    <xsd:element name="coreDeleteResponse" type="ns0:coreDeleteResponse"/>
    <xsd:element name="coreEdit" type="ns0:coreEdit"/>
    <xsd:element name="coreEditResponse" type="ns0:coreEditResponse"/>
    <xsd:element name="coreFind" type="ns0:coreFind"/>
    <xsd:element name="coreFindResponse" type="ns0:coreFindResponse"/>
    <xsd:element name="CoreAircraftFamPJ" type="ns0:coreAircraftFamPJ"/>
    <xsd:element name="coreAircraftFam" type="ns0:coreAircraftFam"/>
</xsd:schema>